.codex 
.env 
.clangd 
.venv/ 

__pycache__/ 

/configs/*.yaml
!/configs/*.example.yaml

!/preprocess/data/.gitkeep 
/preprocess/data/* 
!/preprocess/images/.gitkeep

!/manifold/images/.gitkeep 
!/manifold/data/.gitkeep
/manifold/data/* 

/modeling/__pycache__/ 
/preprocess/__pycache__/ 
